version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: quarkus_user
      POSTGRES_PASSWORD: quarkus_pass
      POSTGRES_DB: quarkus_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: . 
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: quarkus_app
    ports:
      - "8080:8080"
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://db:5432/quarkus_db
    depends_on:
      - db

volumes:
  postgres_data: